@media screen and (max-width: 750px) {
    div #contact-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2em;
    }
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Lato', sans-serif;
    color: #ffffff; /* Text color set to white for better readability on dark background */
    margin: 0;
    padding: 0;
    background-color: #1a1a1a; /* Dark background color */
}

a {
    text-decoration: none;
    color: #ffffff;
}

#navbar {
    background-color: #282c34; /* Darker background color for navbar */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: right;
    padding: 2em 1em;
    border-bottom: 2px solid #61dafb; /* Accent color for the bottom border */
    border-radius: 0 0 10px 10px; /* Rounded corners at the bottom */
}

#navbar .nav-link {
    font-size: 2rem;
    padding: .5em 1em .5em .5em;
}

.nav-link.active {
    font-weight: bold;
    color: #ff6600;
}

#welcome-section {
    box-sizing: border-box;
    background-color: #1a1a1a;
    height: 100vh;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#welcome-section h1 {
    font-size: 6rem;
    margin: 0;
    text-shadow: 2px 2px 4px #000000;
}

#welcome-section p {
    font-size: 3rem;
    margin: 0;
    text-shadow: 2px 2px 4px #000000;
}

.myinfo {
    background-color: #333333; /* Darker background color for myinfo section */
    margin: 5px;
    padding: 6em;
    border-radius: 10px; /* Rounded corners */
}

#projects {
    background-color: #444444; /* Darker background color for projects section */
    padding: 6em;
}

img {
    max-width: 100%;
    max-height: 100%;
}

#projects h2 {
    font-size: 4rem;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
    margin: 0;
    padding: 1em 1em 2em 1em;
}

#projects p {
    background-color: #1a1a1a;
    transition: background-color 0.5s;
    font-size: 2em;
    text-align: center;
    margin: 0;
    padding: .5em;
}

#projects p:hover {
    background-color: #1a1a1a88;
}

#projects-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 3em;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

#project-one, #project-two, #project-three, #project-four {
    justify-self: center;
    align-self: center;
    border-radius: 10px; /* Rounded corners for each project */
}

#contact {
    background-color: #1a1a1a;
    padding: 6em;
}

#contact p {
    font-size: 4rem;
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
    margin: 0;
    padding: .8em;
}

#contact a {
    font-size: 2rem;
}

#contact-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5em;
}

#footer {
    background-color: #1a1a1a;
    padding: 1em 4em 2em 1em;
}

#footer p {
    font-size: 1.6rem;
    margin: 0;
    text-align: right;
    color: #ffffff; /* Text color set to white for better readability on dark background */
}
